@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    background: gainsboro;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.button {
    border-radius: 4px;
    background-color: #ff1e00;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  h1{
    font-size: 65px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .cards {
    display: flex;
    flex-grow: inherit;
    align-items: stretch;
  }
  .card {
    width: 400px;
    margin: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 
  .card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
    }
   